@{
    ViewData["Title"] = "User Page";
}

<div class="text-center">
    <h1 class="display-4">Сторінка користувача</h1>
</div>

<h3><a asp-controller="User" asp-action="Signup">Реєстрація нового користувача</a></h3>
